#contact {
}

.contact-option {
	display: flex;
	margin-top: 6px;
	height: 18px;
	line-height: 18px;
}

.contact-option:first-child {
	margin-top: 0;
}

.contact-option-icon {
	flex-basis: 20px;
	font-size: 18px;
	text-align: center;
}

.contact-option-value {
	flex-grow: 1;
	margin-left: 15px;
}

