#history {
}

.history-title {
	margin-bottom: 8px;
	font-size: 2em;
}

.history-event {
	margin-bottom: 20px;
}

.history-event:last-child {
	margin-bottom: 0;
}

.history-event-title {
	font-size: 1.35em;
	font-weight: 300;
}

.history-event-title-duration {
	margin-left: 4px;
	font-size: 0.7em;
}

.history-event-subtitle {
	font-style: italic;
}

#careers-container {
	animation: fade-in 1s;
}

#universities-container {
	margin-top: 30px;
	animation: fade-in 2s;
}

