#history {
}

.history-title {
	font-size: 24px;
}

.history-event {
	margin-bottom: 20px;
}

.history-event:last-child {
	margin-bottom: 0;
}

#careers-container {
	animation: fade-in 1s;
}

#universities-container {
	margin-top: 30px;
	animation: fade-in 2s;
}

