#history {
}

.history-event {
	position: relative;
	margin-bottom: 20px;
}

.history-event:last-child {
	margin-bottom: 0;
}

.history-event-duration {
	position: absolute;
	top: 7px;
	right: 0;
	font-weight: 500;
	color: #8B8B8B;
}

.history-event-subtitle {
	margin-bottom: 0.1em;
	font-style: italic;
}

#careers-container {
	animation: fade-in 1s;
}

#universities-container {
	margin-top: 30px;
	animation: fade-in 2s;
}

