#profile {
}

#header-container {
	animation: fade-in 1s;
}

#summary-container {
	margin-top: 28px;
	animation: fade-in 1s;
}

#contact-container {
	margin-top: 20px;
	animation: fade-in 1.5s;
}

#skills-container {
	margin-top: 20px;
	animation: fade-in 2s;
}

#footer-container {
	margin-top: 20px;
	animation: fade-in 2.5s;
}

