body {
	font-family: 'Roboto', sans-serif;
}

#resume {
	margin: 0 auto;
	padding: 30px;
	width: 816px;   /* 8.5 inches */
	height: 1056px; /* 11 inches */
	box-sizing: border-box;
	border: 1px solid #D2D2D2;
}

.title {
	font-family: 'Oswald', sans-serif;
}

.highlight {
	color: #30D5C8;
}

#header {
	font-size: 36px;
}

#name {
}

#role {
	margin-left: 20px;
}

