body {
	font-family: 'Roboto', sans-serif;
	background: url('/img/background.png') repeat;
}

#resume {
	margin: 30px auto;
	padding: 30px;
	width: 816px;   /* 8.5 inches */
	height: 1056px; /* 11 inches */
	box-sizing: border-box;
	border: 1px solid #E0E0E0;
	background-color: #FFFFFF;
}

.title {
	font-family: 'Oswald', sans-serif;
}

.highlight {
	color: #30D5C8;
}

.highlight-background {
	background-color: #30D5C8;
}

