body {
	font-family: 'Roboto', sans-serif;
	background: url('/img/background.png') repeat;
}

a {
	color: #30D5C8;
	text-decoration: none;
}

#resume {
	display: flex;
	margin: 30px auto;
	padding: 30px;
	width: 8.5in;
	height: 11in;
	box-shadow: 0 0 20px #888888;
	background-color: #FFFFFF;
}

.title {
	font-family: 'Roboto Condensed', sans-serif;
}

.highlight {
	color: #30D5C8;
}

.highlight-background {
	background-color: #30D5C8;
}

#profile-container {
	flex: 0 2.5in;
	box-sizing: border-box;
}

#history-container {
	flex: 1;
	padding-left: 30px;
	box-sizing: border-box;
}

