#skills {
}

.skill {
	display: flex;
	height: 28px;
	line-height: 28px;
}

.skill-name {
	flex-basis: 100px;
}

.skill-value {
	flex-grow: 1;
	height: 100%;
}

.skill-value-bar {
	margin-top: 7px;
	height: 40%;
}
