<div id="contact">
	<h3>Contact Me</h3>

	<div class="contact-option">
		<i class="contact-option-icon fa fa-phone"></i>
		<span class="contact-option-value">{{contact.phone}}</span>
	</div>

	<div class="contact-option">
		<i class="contact-option-icon fa fa-globe"></i>
		<span class="contact-option-value">{{contact.website}}</span>
	</div>

	<div class="contact-option">
		<i class="contact-option-icon fa fa-envelope-o"></i>
		<span class="contact-option-value">{{contact.email}}</span>
	</div>

	<div class="contact-option">
		<i class="contact-option-icon fa fa-github"></i>
		<span class="contact-option-value">{{contact.github}}</span>
	</div>
</div>

