<div id="header">
	<img id="header-avatar" src="{{this.avatar}}">

	<div id="header-title">
		<div id="header-title-name">
			{{this.name.first}} {{this.name.last}}
		</div>

		<div id="header-title-role">
			{{this.role}}
		</div>
	</div>
</div>

